@model IEnumerable<PeDeOuro.Models.Emails>

@{
    ViewData["Title"] = "Index";
}

<h1>Emails</h1>

<p>
    <a asp-action="Create">Enviar Promoção</a>
</p>
@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Promocao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailDestinatario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Promocao.Assunto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailDestinatario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
